@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/Rockwell.eot');
  src: local('☺'), url('../fonts/Rockwell.woff') format('woff'), url('../fonts/Rockwell.ttf') format('truetype'), url('../fonts/Rockwell.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/GothamBook.eot');
  src: local('☺'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype'), url('../fonts/GothamBook.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  height: 100%; 
  font-family: 'GothamBook';
}
footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  padding-top: 10px;
  background-color: #000;
  clear: both;
}

/*font*/
.font-rockwell{
  font-family: 'Rockwell';
}
/*text*/
.text-red{color: #f42624 !important;}
.text-white{color: #fff !important;}
.text-darkblack{color: #222 !important;}
.text-lightblack{color: #666 !important;}
.text-grey{color: #777!important;}

/*button*/
.btn{border-radius: 0px;} 
.btn:hover{color: #fff;}
.btn-default{border-radius: 0px;background-color: #f42624;color:#fff;border: 0px;}
.btn-blue{border-radius: 0px;background-color: #1783d0;color:#fff;border: 0px;}
.btn-default:hover{background-color: #f42624;color:#fff;}
.btn-black{background-color: #000;color: #fff;}
.btn-transparent{background-color: transparent;border: 2px solid #fff;color: #fff;}
.btn-view-product{background-color:transparent;border:2px solid #000;color:#000;padding-top:15px;padding-bottom:15px;font-weight:bold;}
.btn-view-product:hover{background-color: #fff;color:#000;border-color: #fff;}
.btn-lg {font-size: 14px;font-weight: bold;}

.media.contact-us {font-size: 13px;}
/*navigation*/
.dropdown .dropdown-menu{
  visibility: hidden;
  opacity: 0;
  display: block;
  transition: visibility 0s, opacity 0.5s linear;
}
.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1; 
    margin-top: 0;  
 }
header{height: 140px;}

/*misc*/
.nopadding{padding: 0px;} 
/*breadcrumb*/
.breadcrumb a{color: #000;font-weight: bold;}
/*form*/
.form-control,textarea{background-color: #f5f5f5;border-radius: 0px;padding: 10px;border:0px;}
.register-form .form-control,.login-form .form-control,.email-reset-form .form-control{background-color: #fff;border:1px solid #000;}
.finder-form .form-control{background-color: #fff;border:1px solid #000;opacity: 0.5;}
.finder-form .form-control:focus{opacity: 1;}
.finder-form select.form-control{padding: 0px !important;}

.nav-1{background-color: #000;background-image: url('/img/img_background.jpg');height: 47px;}
.nav-1 .mini-menu{margin: 0px;padding-top: 5px;padding-bottom: 10px;height: 46px;}
.nav-1 .mini-menu .fa{font-size: 18px;} 
.navbar-nav{padding-top: 5px;}
.navbar-brand{padding: 0px;height: auto;} 
.nav-2{background-color: #fff;padding: 10px 0px;height: auto;}
.nav-2 > .container{background-color: #fff;}
.navbar-default{z-index: 1;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{margin-top: 10px;}
.navbar-default .navbar-nav>li>a{font-size: 14px;color: #000;}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a.active{color:#f42624;    background-color: #fafafa;}
.navbar.sticky .nav-1{}
.transition{-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;}
.navbar.sticky .nav-2 .navbar-brand>img{height: 50px;margin-top: 8px;} 
/*.navbar.sticky .nav-1{margin-top: -38px;}*/
 
.page-banner{width: 100%;background-size: cover;height:219px;background-position: 50% 0%;}
.section-goesup{background-color: #fff;padding: 20px 40px 20px 40px;position: relative;top: -40px;}

.home-finder-wrapper{background-color: rgba(99, 116, 130, 0.7);}

/*catalog listing*/
.item{background-color: #f2f2f2;position: relative;}
.item-name{height: 50px;padding: 10px;color:#222;}
.item:hover .item-hover{display: block;}
.item-hover{display:none;text-align: center;position: absolute;width: 100%;height: 100%;}
.item-hover-bg{position:absolute;width: 100%;height: 100%;background-color: #000;opacity: 0.5;}
.item-hover .btn{margin-top: 2%;text-align: center;width: 80%;max-width: 150px;}
.item-button-group{margin-top: 30%;}
.item-hover-button-wrapper{width: 100%;position: absolute;}
.panel-default>.panel-heading{border-bottom: 1px solid #ccc;}
.panel-title{font-size: 14px;}
.panel-title>a{padding: 10px;width: 100%;display: block;}
.panel-title>a:hover{color: #148be1 !important;text-decoration: none;}
.panel-title>a[aria-expanded='true']{color: #148be1 !important;text-decoration: none;}
.panel-default>.panel-heading,.panel-heading{background-color: transparent;padding: 0px;}
.panel-group .panel{border-radius: 0px;border: 0px;box-shadow: none;}
.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item,.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{border:0px !important;}
.list-group-item{color: #666;}
/*catalog*/
#accordion .glyphicon { margin-right:10px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}

.mini-search-keyword{padding:0px 10px;}
.mini-search-form:hover .mini-search-keyword{visibility: visible;}

.cart-items-count{font-size:16px !important;}

/*mega menu start*/
@charset "utf-8";
/* CSS Document */
.w3_megamenu .dropdown a:hover, .w3_megamenu .dropdown-menu a:hover{
  color: #f42624;
}
.w3_megamenu .dropdown a,
.w3_megamenu .dropdown-menu  a {
  color:#656565;
}
.w3_megamenu .dropdown-menu > li > a {
  padding:6px 15px;
}
.w3_megamenu .navbar-nav > li > .dropdown-menu {
  margin-top:1px;
}
.w3_megamenu i {
  color:#BFBFBF
}
.w3_megamenu .dropdown-menu {
  box-shadow:none; 
  border:0px;
  padding:0;
}
.w3_megamenu .form-control {
  margin-top:10px;
  border:1px solid #efefef;
}
.w3_megamenu .btn {
  margin:10px 0 20px
}
.w3_megamenu video {
  max-width: 100%;
  height: auto;
}
.w3_megamenu iframe,
.w3_megamenu embed,
.w3_megamenu object {
  max-width: 100%;
}
.w3_megamenu .google-map {
  width:100%; 
  border:1px solid rgba(255, 255, 255, 0.5);
  min-height:200px;
}
.w3_megamenu div.google-map {
  background:rgba(255, 255, 255, 0.5);
  background: #ffffff;
  height: 200px;
  margin: 0 0 0px 0;
  width: 100%;
} 
#googlemaps img{
    max-width:none;
}
.w3_megamenu .dropdown-menu .withoutdesc{    
  margin-top:0;
  padding:15px 20px;
    display: block;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.w3_megamenu a:hover {
  text-decoration:none
}
.w3_megamenu .dropdown-menu .withoutdesc ul li {
  padding:3px 10px;
}
.w3_megamenu .dropdown-menu .withoutdesc ul li:hover,
.w3_megamenu .dropdown-menu .withoutdesc ul li:focus{
  color:#262626;
  text-decoration:none;
  background-color:#f5f5f5 !important
}
.w3_megamenu .dropdown-menu .withoutdesc li:last-child {
  border-bottom:0 solid #fff;
}
.w3_megamenu .w3_megamenu-content.withdesc .row{background-color: #fafafa;}
.w3_megamenu .w3_megamenu-content.withdesc a:after {
    color: #CFCFCF;
    content: attr(data-description);
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 0;
    margin: 10px 0 15px;
    text-transform: uppercase;
}

.w3_megamenu .dropdown-submenu{
  position:relative;
}
.w3_megamenu .dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:0;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.w3_megamenu .dropdown-submenu:hover>.dropdown-menu{
  display:block;
}

.w3_megamenu .dropdown-submenu>a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.w3_megamenu .dropdown-submenu:hover>a:after{
  border-left-color:#ffffff;
}
.w3_megamenu .dropdown-submenu.pull-left{
  float:none;
}
.w3_megamenu .dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}
.w3_megamenu p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
  color:#656565;
}
.w3_megamenu .nav,
.w3_megamenu .collapse,
.w3_megamenu .dropup,
.w3_megamenu .dropdown {
  position: static;
}
.w3_megamenu .half {
    width: 50%;
  left: auto !important;
    right: auto !important;
}
.w3_megamenu .container {
  position: relative;
}
.w3_megamenu .dropdown-menu {
  left: auto;
}
.w3_megamenu .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.w3_megamenu .w3_megamenu-content {
  padding: 15px 25px; 
}
.w3_megamenu .dropdown.w3_megamenu-fw .dropdown-menu {
  left: 0;
  right: 0;
  background-color: transparent;
  margin-top: -20px;
}
.w3_megamenu .title {
  font-size: 13px;
  font-weight: bold;
  margin: 0px;
  text-transform: uppercase;
  border-bottom: 1px solid #efefef;
  padding-bottom: 0px;
  padding-top: 20px;
}
.w3_megamenu ul {
  list-style:none;
  padding-left:0px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{background-color: transparent;}
/*end of megamenu*/
@media (min-width:769px){

.alert-wrapper{position: absolute;}
.w3_megamenu .w3_megamenu-content {
  padding: 15px 135px; 
}
.navbar.sticky .nav-2{padding: 0px;} 
.mini-search-keyword{padding:0px 10px;}

}

